/*
Custom CSS for...
'Modern Business' HTML Theme by Start Bootstrap

All Start Bootstrap themes are licensed under Apache 2.0.
For more info and more free Bootstrap 3 HTML themes, visit http://startbootstrap.com!
*/

/* Global Styles */

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  background: #777777;

}

.container-helper{
  height: 100%;
  background-color: #000;
  background: #f0f5f6;
}

.spinner-center{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: 30%;
}

.center-text{
  text-align: center;
}
