<div>
  <!-- Spinner -->
  <div ng-show="!loaded" class="col-xs-12 col-md-9">
    <i class="fa fa-spinner fa-spin spinner-center" aria-hidden="true" style="font-size:100px"></i>
  </div>
  <!-- image and table -->
  <div  ng-show="loaded" class="col-xs-12 col-md-9">
    <h1>{{ selectedCity === '' ? 'When can i see the ISS (International Space Station)?': 'The Next passes of the ISS Over ' +selectedCity.label}}</h1>
    <!-- show the image if city is not selected yet otherwise hide-->
    <div ng-show="selectedCity === ''">
      <img class="img-responsive" src="https://upload.wikimedia.org/wikipedia/commons/0/04/International_Space_Station_after_undocking_of_STS-132.jpg"/>
    </div>

    <!-- show the table -->
    <div ng-hide="selectedCity === ''">
      <table class="table table-striped">
        <thead>
          <tr>
            <th class="center-text" scope="col">Rise</th>
            <th class="center-text" scope="col">Duration</th>
            <th class="center-text" scope="col">Day/Night</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="pass in limitArray track by $index">
            <td class="center-text"> {{passes[$index]? (passes[$index].risetime | riseDateFormat): '-' }}</td>
            <td class="center-text"> {{passes[$index] ? (passes[$index].duration | hms) : '-' }}</td>
            <td class="center-text"><i class="far" ng-class="{ 'fa-sun': passes[$index].timeInd == 'DAY', 'fa-moon': passes[$index].timeInd == 'NIGHT'}"></i> <i ng-hide="passes[$index]">-</i></td>
          </tr>

        </tbody>
      </table>
    </div>
  </div>

<!-- select -->
  <div class="form-group col-xs-12 col-md-3">
    <label for="sel1">Select city:</label>
    <select ng-disabled="!loaded" class="form-control pull-right" ng-options="city as city.label for city in cities track by city.label" ng-change="changeCity()" ng-model="selectedCity">
    </select>
  </div>

</div>
